<p>One of my main interests is biking and making commuting by bike a norm in Iceland. In the recent years cycling in Iceland has grown tremendously and it's interesting to follow this bicycle counter located on one of the few bicycle paths in Reykjavík. The data is collected from apis.is.</p>

<h3> Date: {{ bicyclecounter.results[0].Date }}</h3>
<h3> Time: {{ bicyclecounter.results[0].Time }}</h3>
<h3> Counter: {{ bicyclecounter.results[0].DayCount }}</h3>
<h3> Total this year: {{ bicyclecounter.results[0].YearCount }}</h3>